<p style="color: green"><%= notice %></p>

<h1>All users</h1>

<div id="users">
  <% @users.each do |user| %>
    <%= link_to "/users/#{user.id}" do %>
      
      <%= render user %>

    <% end %>
  <% end %>
</div>

<%# <%= link_to "New user", new_user_path %>
