<p style="color: green"><%= notice %></p>

Show Comments
<%= render @post %>

<div class="bottom">
  <strong>
  <%= link_to "Back to posts", "/users/#{@user.id}/posts" %>
  </strong>
  <%# <%= button_to "Destroy this post", @post, method: :delete %>
</div>
