<p style="color: green"><%= notice %></p>

Show Comments
<%= render @post %>

<div>
  <strong>
  <%= link_to "Back to posts", show_a_user_posts_comments_path %>
  </strong>
  <%# <%= button_to "Destroy this post", @post, method: :delete %>
</div>
