/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

:root {
  --total_padding: 1rem 10rem;

  @media screen and (max-width: 768px) {
    --total_padding: 1rem 1rem;
  }
}

*:not(h2, h3) {
  padding: 0;
  margin: 0;
  text-align: left;
  font-size: 15px;
}

body {
  padding: var(--total_padding);
}

.user_photo {
  width: 10rem;
  height: 10rem;
  object-fit: cover;
}

a {
  text-decoration: none;
  color: black;
}

p {
  text-align: left;
}

.user_item {
  margin-top: 1rem;
  border: 1px solid green;
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
  align-items: center;
  height: 10rem;
}

.bio {
  border: 1px solid green;
  padding: 1rem;
  margin-top: 1rem;
}

.post-item {
  margin-top: 1rem;
  border: 0.1rem solid olivedrab;
  padding: 1rem;
}

.comment-like-bottom {
  margin-top: 1rem;
  text-align: right;
  display: flex;
  flex-direction: row;
  gap: 2rem;
  justify-content: flex-end;
}

.bottom {
  margin-top: 1rem;
  margin-bottom: 3rem;
  width: 100%;
  height: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  justify-content: center;
}

.comments-container {
  margin-top: 0.2rem;
  padding-top: 0.2rem;
}

.comment-item {
  border-bottom: 0.1rem dashed rgb(225, 225, 225);
  padding-top: 0.2rem;
}

.comment-item:first-child {
  border-top: 0.1rem solid greenyellow;
}

.form {
  margin: 1rem 0;
}

.link-btn {
  border: 0.1rem solid black;
  padding: 0.1rem 0.3rem;
  width: 7rem;
  text-align: center;
  border-radius: 1rem;
  font-weight: bold;
}
