/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

:root {
    --total_padding: 1rem 10rem
}

* {
    padding: 0;
    margin: 0;
    text-align: left;
}

body {
    padding: var(--total_padding);
}

.user_photo {
    width: 100px;
    height: 100px;
    object-fit: cover;
}

a {
    text-decoration: none;
    color: black;
}

p {
    text-align: left;
}

.user_item {
    margin-top: 1rem;
    border: 1px solid green;
    display: grid;
    grid-template-columns: 1fr 2fr 2fr;
    align-items: center;
    
}

.post-item {
    margin-top: 1rem;
}
.bottom {
    margin-top: 1rem;
}